.contribution {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.contribution-info {
  max-width: 70em;
  margin: 1em auto;
}

.additional-info {
  li {
    list-style: square;
    text-align: left;
  }
}

.team-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsschool-logo {
    width: 300px;
}