main{
    padding: 1em;
    text-align: center;
}
.main__menu{
    padding: 0;
    list-style: none;
}
.main__menu .button{
    width: 100%;
    max-width: 300px;
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    text-decoration: none;
}