.menu {
    margin: 0;
    display: flex;
    list-style-type: none;
}
.menu > *+* {
    margin-left: 0.5em;
}
.menu__link {
    position: relative;
}
.menu__link, .menu__link:after, .menu__link:before {
    transition: all 0.5s;
}
.menu__link:hover, .menu__link.active {
    color: var(--active-color);
}
.menu__link:hover:after, .menu__link.active:after {
    width: 100%;
}
.menu__link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: var(--active-color);
    height: 1px;
}