fieldset:disabled {
  .form-label::after {
    display: none;
  }
  .form-input {
    background: none;
    border: none;
    opacity: 1;
    font-size: 1rem;
    padding: 0;
    color: var(--active-color);
  }
}