.basket-controls {
  .count {
    margin: 0 10px;
  }
  .button {
    min-width: 42px;
    &_add {
      margin: 5px;
    }
    &_remove {
      margin-top: 10px;
    }
    &.not-active {
      background: var(--gray-color);
      pointer-events: none;
    }
  }
}
