.basket-controls {
  .count {
    margin: 0 10px;
  }
  .button {
    min-width: 42px;
    &_add-min {
      width: 40px;
      height: 40px;
      background: var(--active-color) url('../../assets/cart.svg') no-repeat center;
    }
    &:disabled {
      background-color: var(--gray-color);
      cursor: auto;
      &:active {
        transform: none;
        opacity: 1;
      }
    }
    &.loading {
      border-radius: 50%;
      background: url('../../assets/loading.svg') no-repeat center / contain;
      animation:  2s linear infinite spin;
    }
  }
}
