.basket-controls {
  .count {
    margin: 0 10px;
  }
  .button {
    min-width: 42px;
    &_add-min {
      width: 2em;
      height: 2em;
      background: var(--active-color) url('../../assets/cart.svg') no-repeat center;
    }
    &:disabled {
      background-color: var(--gray-color);
      cursor: auto;
      &:active {
        transform: none;
        opacity: 1;
      }
    }
  }
}
